@model MvcSocks.Models.SocksTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h1{
        font-size:4em;
        text-align:center;
        color: darksalmon;
    }
    h1 + p{
        text-align: center;
        line-height:3em;
    }
    a{
        color: green;
    }
    form p{
        text-align:right;
    }
    img {
        width: 90%;
        margin: 0 5% 20px;
    }
    th{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:rebeccapurple;
        text-align:center;
        font-size: 1.5em;
    }
    td{
        font-family:'Times New Roman', Times, serif;
        color:darkblue;
        text-align: center;
    }
    table{
        background-color:antiquewhite;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Socks" asp-action="Index" method="get">

    <p>
        <select asp-for="SocksType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>

</form>

<img src="~/img/back1.webp"/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].LaunchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Size)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocksS[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SocksS)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaunchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
